[submodule "vendor/dkml-runtime-common"]
	path = vendor/dkml-runtime-common
	url = https://github.com/diskuv/dkml-runtime-common.git
[submodule "vendor/dkml-component-ocamlcompiler"]
	path = vendor/dkml-component-ocamlcompiler
	url = https://github.com/diskuv/dkml-component-ocamlcompiler.git
