[submodule "vendor/diskuv-opam-repository"]
	path = vendor/diskuv-opam-repository
	url = https://github.com/diskuv/diskuv-opam-repository.git
	branch = main
[submodule "vendor/dkml-compiler"]
	path = vendor/dkml-compiler
	url = https://github.com/diskuv/dkml-compiler.git
	branch = main
[submodule "vendor/drc"]
	path = vendor/drc
	url = https://github.com/diskuv/dkml-runtime-common.git
	branch = main
[submodule "vendor/drd"]
	path = vendor/drd
	url = https://github.com/diskuv/dkml-runtime-distribution.git
	branch = main
